<h2 class="form-title">
  {{ idioma === 'es' ? 'Registro de Usuario' : 'User Registration' }}
</h2>

<form class="form-container" (ngSubmit)="onRegister()">
  <div class="form-group">
    <label for="nombre">
      {{ idioma === 'es' ? 'Nombre:' : 'Name:' }}
    </label>
    <input id="nombre" type="text" [(ngModel)]="nombre" name="nombre" required
      [placeholder]="idioma === 'es' ? 'Introduce tu nombre' : 'Enter your name'">
  </div>

  <div class="form-group">
    <label for="fecha_nacimiento">
      {{ idioma === 'es' ? 'Fecha de Nacimiento:' : 'Birthdate:' }}
    </label>
    <input id="fecha_nacimiento" type="date" [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento" required>
  </div>

  <div class="form-group">
    <label for="edad">
      {{ idioma === 'es' ? 'Edad:' : 'Age:' }}
    </label>
    <input id="edad" type="number" [(ngModel)]="edad" name="edad" required
      [placeholder]="idioma === 'es' ? 'Introduce tu edad' : 'Enter your age'">
  </div>

  <div class="form-group">
    <label for="sexo">
      {{ idioma === 'es' ? 'Sexo:' : 'Gender:' }}
    </label>
    <select id="sexo" [(ngModel)]="sexo" name="sexo" required>
      <option value="" disabled selected>
        {{ idioma === 'es' ? 'Selecciona tu sexo' : 'Select your gender' }}
      </option>
      <option value="Hombre">{{ idioma === 'es' ? 'Hombre' : 'Male' }}</option>
      <option value="Mujer">{{ idioma === 'es' ? 'Mujer' : 'Female' }}</option>
      <option value="Otro">{{ idioma === 'es' ? 'Otro' : 'Other' }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="altura">
      {{ idioma === 'es' ? 'Altura (cm):' : 'Height (cm):' }}
    </label>
    <input id="altura" type="number" [(ngModel)]="altura" name="altura" required
      [placeholder]="idioma === 'es' ? 'Introduce tu altura' : 'Enter your height'">
  </div>

  <div class="form-group">
    <label for="peso_actual">
      {{ idioma === 'es' ? 'Peso Actual (kg):' : 'Current Weight (kg):' }}
    </label>
    <input id="peso_actual" type="number" [(ngModel)]="peso_actual" name="peso_actual" required
      [placeholder]="idioma === 'es' ? 'Introduce tu peso actual' : 'Enter your current weight'">
  </div>

  <div class="form-group">
    <label for="correo">
      {{ idioma === 'es' ? 'Correo:' : 'Email:' }}
    </label>
    <input id="correo" type="email" [(ngModel)]="correo" name="correo" required
      [placeholder]="idioma === 'es' ? 'Introduce tu correo' : 'Enter your email'">
  </div>

  <div class="form-group">
    <label for="password">
      {{ idioma === 'es' ? 'Contraseña:' : 'Password:' }}
    </label>
    <input id="password" type="password" [(ngModel)]="password" name="password" required
      [placeholder]="idioma === 'es' ? 'Introduce tu contraseña' : 'Enter your password'">
  </div>

  <div class="form-group">
    <label for="repeatPassword">
      {{ idioma === 'es' ? 'Repite la contraseña:' : 'Repeat password:' }}
    </label>
    <input id="repeatPassword" type="password" [(ngModel)]="repeatPassword" name="repeatPassword" required
      [placeholder]="idioma === 'es' ? 'Repite tu contraseña' : 'Repeat your password'">
  </div>

  <div class="form-group">
    <label for="objetivo">
      {{ idioma === 'es' ? 'Objetivo:' : 'Goal:' }}
    </label>
    <select id="objetivo" [(ngModel)]="objetivo" name="objetivo" required>
      <option value="" disabled selected>
        {{ idioma === 'es' ? 'Selecciona tu objetivo' : 'Select your goal' }}
      </option>
      <option *ngFor="let obj of objetivos" [value]="obj.objetivo">{{ obj.objetivo }}</option>
    </select>
  </div>

  <button class="form-button" type="submit">
    {{ idioma === 'es' ? 'Registrarse' : 'Register' }}
  </button>
</form>
